{% extends 'template.html' %}

{% load crispy_forms_tags %}

{% block header_title %}
<h1>Inscrições</h1>
{% endblock %}

{% block section %}
<div class="container">
<div class="row mt-5">
    <a href="{% url 'cadastro-inscricao' %}" class="btn btn-primary btn-sm">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Nova inscrição
    </a>
</div>

<div class="row mt-2">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Data da inscrição</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            {% for obj in object_list %}
            <tr>
                <td>{{ obj.dataInscricao }}</td>
                <td>
                    <a href="{% url 'editar-inscricao' obj.pk %}" class="btn btn-warning btn-sm">
                        Editar
                    </a>
                    <a href="{% url 'excluir-inscricao' obj.pk %}" class="btn btn-outline-danger btn-sm">
                        Excluir
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="100%">Nenhuma inscrição realizada</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

</div>

{% endblock %}
