{% load static %}

<!DOCTYPE html>

<html lang="pt-br" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>Currículo</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">

    <style media="screen">

      .bg-cinza-claro{
        background-color: #CCCCCC;
      }

      .text-cinza-claro{
        color: #CCCCCC;
      }

    </style>

  </head>

  <body>

    <div class="container shadow-sm mt-3">

      <div class="row border bg-cinza-claro rounded p-5">

        <div class="col-lg-8">

          <h3>GABRIELA</h3>
          <h1>GONÇALVES</h1>

        </div>

        <div class="col-lg text-right">

          LISTA DE DADOS <br/>

          Rua Leila Diniz, 294, São Jorge
          <i class="fas fa-home"></i> <br/>

          (44)9.9807-9243
          <i class="fas fa-phone"></i> <br/>

          gabrielagbarbosa99@gmail.com
          <i class="fas fa-envelope"></i>

        </div>

      </div>

    </div>

    <div class="container shadow-sm mt-3">

    <div class="row border-left border-right pl-5 pr-5">

      <div class="col-sm-1 p-5 text-center">
        <div class="box-icon rounded-circle bg-destaque">
          <i class="fas fa-bars mt-3 color-white"></i>
        </div>
      </div>

      <div class="col-sm pt-5">
        <h4 class="pt-2">OBJETIVO</h4>
        <p class="text-justify">
          Técnica em Informática pelo Instituto Federal do Paraná (2016) e formanda em Tecnologia em Análise e Desenvolvimento de Sistemas,
          também pelo Instituto Federal do Paraná (2019). Com afinidade pelas áreas de comunicação e marketing digital, objetivo atuar nas áreas
          da tecnologia da informação com foco na comunicação.
         </p>
      </div>

    </div>

    <div class="row border-left border-right pl-5 pr-5">

      <div class="col-sm-1 pl-5 pr-5 pt-3 text-center">
        <div class="box-icon rounded-circle bg-destaque">
          <i class="fas fa-graduation-cap mt-3 color-white"></i>
        </div>
      </div>

      <div class="col-sm pt-3">
        <h4 class="pt-2">EDUCAÇÃO</h4>
        <p>
          <b class="color-destaque">ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</b> | Tecnólogo <br>
          2017<br>
          2 Mensões honrosas por desempenho acadêmico. <br>
          3° Melhor resumo da IV SETIF. <br/>

        </p>
        <p class="text-justify">
          <b class="color-destaque">CURSO TÉCNICO EM INFORMÁTICA INTEGRADO AO ENSINO MÉDIO</b> | Técnico <br>
          De 2013 à 2016. <br>
          1° lugar na Categoria de Tecnologia Assistiva do IFTECH.<br/>

        </p>
      </div>

    </div>

    <div class="row border-left border-right pl-5 pr-5">

      <div class="col-sm-1 pl-5 pr-5 pt-3 text-center">
        <div class="box-icon rounded-circle bg-destaque">
          <i class="fas fa-briefcase mt-3 color-white"></i>
        </div>
      </div>

      <div class="col-sm pt-3">
        <h4 class="pt-2">EXPERIÊNCIA</h4>
        <p class="text-justify">
          <b class="color-destaque">CONSULTORA DE MARKETING DIGITAL</b> | Autônoma <br>
          De 2017 à 2019 <br>
          Consultorias particulares sobre marketing digital voltado para empresas locais de Paranavaí. <br/>
          Treinamentos sobre a manipulação das redes sociais para fins comerciais.<br/>
          Consultoria e desenvovimento de projetos e ações de marketing para empresas diversas.
        </p>
        <p>
          <b class="color-destaque">PROFESSORA</b> | IFPR - Paranavaí <br>
          De 2017 à 2018 <br>
          Curso de PROGRAMADOR WEB do Progrma Nacional de Acesso ao Ensino Técnico e Emprego (PRONATEC). <br>
          Ministrando os módulos de HTML e CSS.
        </p>
      </div>

    </div>

    <div class="row border-left border-right pl-5 pr-5">

      <div class="col-sm-1 pl-5 pr-5 pt-3 text-center">
        <div class="box-icon rounded-circle bg-destaque">
          <i class="fas fa-tools mt-3 color-white"></i>
        </div>
      </div>

      <div class="col-sm pt-3">
        <h4 class="pt-2">HABILIDADES</h4>
        <div class="row">
          <div class="col-sm">
            <ul class="color-destaque">
              <li><div class="text-body">Comunicativa.</div></li>
              <li><div class="text-body">Criativa.</div></li>
              <li><div class="text-body">Disposta a aprender.</div></li>
              <li><div class="text-body">Trabalha bem em equipe.</div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-left border-right pl-5 pr-5">

      <div class="col-sm-1 pl-5 pr-5 pt-3 text-center">
        <div class="box-icon rounded-circle bg-destaque">
          <i class="fas fa-ellipsis-h mt-3 color-white"></i>
        </div>
      </div>

      <div class="col-sm pt-3">
        <h4 class="pt-2">ATIVIDADES</h4>
        <p class="text-justify">
          Durante minha formação acadêmica no IFPR - Campus Paranavaí partcipei de diversos
          projetos de ensino, pesquisa e extensão. Pude desenvolver pesquisas nas áreas de Tecnologia
          e Educação, além de desenvolver o voluntariado e participar da organização de eventos da Instituição.
          Nesse tempo, também estudei mais sobre o idioma Inglês e obtive formação de grau intermediário.
        </p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
