{% extends 'template.html' %}
{% load crispy_forms_tags %}

{% block section %}
<div class="container m-5">
  {% if botao == 'Excluir' %}
      <hr>
      <h4 class="font-weight-normal text-dark" >Registro a excluir: {{ object }}</h4>
      <hr>
  {% endif %}

  <form method="post">
      	{% csrf_token %}

      	{{ form|crispy }}

        <button type="submit" class="btn {{ classeBotao }}">
          {{ botao }}
        </button>

        <a href="{% url 'index' %}" class="btn btn-secondary">
          Voltar
        </a>

  </form>
</div>
{% endblock %}
