{% extends 'template.html' %}
{% load static %}

{% block header %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">SOBRE</h1>
      <h4>A ideia desse site é que seja uma plataforma de minicursos 100 gratuitos online. <br/>
      Esse é um espaço dedicado para pessoas que têm interesses em trocar e conhecimentos
      e experiências.</h4>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block section %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div >
      <img class="img-fluid" src="{% static 'img/dc.png' %}" alt="">
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
{% endblock %}
